nav{
  background-color: transparent;
}

nav .brand-logo{
  color: black;
  font-size: 1.618rem;
}

nav ul a{
  color: black;
}

.input-field label {
  left: 0;
}

.range-slider {
  margin: 65px 0 30px;
}

.range-slider label {
  top: -37px;
}

label {
  color: black !important;
}

.pagination li > a {
  cursor: pointer;
}

.pagination {
  margin-bottom: 5px;
}

a.secondary-content {
  position: relative !important;
  flex: 1;
  text-align: right;
  top: 0px !important;
  right: 0px !important;
}

.secondary-content .material-icons {
  font-size: 36px;
}

.artist-detail .header {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.album img {
  width: 250px !important;
}

.has-error {
  color: red;
}

.spacer a {
  margin: 0px 10px;
  cursor: pointer;
}

li.collection-item.avatar {
  display: flex;
  align-items: center;
  padding-left: 10px !important;
}

li.collection-item.avatar img {
  position: relative !important;
  left: 0px !important;
  margin: 0px 10px !important;
}

.retired {
  background-color: #ddd !important;
}

.select {
  font-size: 1rem;
}

select {
  display: block !important;
  margin-bottom: 10px;
  height: 30px;
  color: black;
}

.authBtn {
  color: black;
}

input.submitBtn{
  background: transparent;
  border: 2px solid black;
  padding: .5em 1.5em;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 30px;
}
input{
  height: initial;
}

th.DataTableHeaderItem{
  font-size:12px;
  font-family: "Roboto", sans-serif;
}

table.DataTable{
  margin-top: 60px;
  position:relative;
}
.DataTaleItem{

}
fieldset{
  padding:5px 15px;
}

td,th{
  border: 1px solid #d0d0d0;
}

/*db table*/

.delete-row-btn{
  font-size:1em;
  padding:.5em 1em;
  border:1px solid tomato;

}

.delete-row-btn:hover{
  cursor: pointer;
}

.save-csv-btn{
text-transform: uppercase;
border: 2px solid black;
max-width: 150px;
text-align: center;
margin-top: 15px;
padding: .5em 0px;
}
.save-csv-btn:hover{
  cursor: pointer;
}
.detail-paragraph{
  font-size: 16px;
    line-height: 2;
}
